
.appMount_fae9dd {
    overflow: clip;
}

[data-animation] > * {
    position: absolute;
}

[data-animation-type="exit"] {
    pointer-events: none;
}

[data-animation-switch] {
    isolation: isolate;
}
[data-animation-switch][data-animation-type="exit"]:not(.layer__2efaa) {
    position: absolute !important;
    inset: 0;
}

/* channel, server, settings */
:is(.content__4bf10, .base__3e6af, .contentRegion__0bec1):is(:has(> [data-animation-type]), :has(> [data-animation])) {
    position: relative;
    overflow: clip;
}

/* modal */
.focusLock__10aa5:is(:has(> [data-animation-type]), :has(> [data-animation])) {
    position: relative;
}

/* settings */
.contentRegion__0bec1 > .contentRegion__0bec1 {
    height: 100%;
}
