
.appMount_fae9dd {
    overflow: clip;
}

[data-cloned] {
    position: absolute !important;
    inset: 0;
    isolation: isolate;
}

[data-animation] > * {
    position: absolute;
}

[data-animation-type="exit"] {
    pointer-events: none;
}
